# Discord
DISCORD_BOT_TOKEN=your_discord_bot_token
DISCORD_CHANNEL_ID=your_channel_id
DISCORD_OWNER_ID=your_user_id

# Funbox account
FUNBOX_EMAIL=your_funbox_email
FUNBOX_PASSWORD=your_funbox_password

# Buyer safety
FUNBOX_AUTO_SUBMIT_ORDER=false
FUNBOX_CART_QUANTITY=1
FUNBOX_MAX_PRICE=2500
FUNBOX_MAX_TOTAL=2500

# FamilyMart store
FUNBOX_STORE_KEYWORD=廣惠
FUNBOX_FAMI_STORE_NAME=全家佳冬廣惠店

# Browser
FUNBOX_BUYER_HEADLESS=true
FUNBOX_MONITOR_HEADLESS=true
FUNBOX_BUYER_PAGE_TIMEOUT_MS=60000
FUNBOX_MONITOR_PAGE_TIMEOUT_MS=60000

# Monitor
FUNBOX_MONITOR_ENABLED=true
FUNBOX_MONITOR_INTERVAL_SECONDS=180
FUNBOX_MONITOR_MODE=category
FUNBOX_MONITOR_URLS=https://shop.funbox.com.tw/categories/XI/KB?srsltid=AfmBOorUe1puDY4JOzd1N72RywPx4gCBTJLGkuCElKcLUhI5Kq6zQ0wP

FUNBOX_CATEGORY_SCAN_ALL=false
FUNBOX_CATEGORY_MAX_PRODUCTS=30

FUNBOX_PRODUCT_KEYWORDS=BEYBLADE,戰鬥陀螺,陀螺,BX-,CX-,UX-,XONE,爆旋陀螺

FUNBOX_EXCLUDE_KEYWORDS=預購,預定,商品預購,電子書,電子序號,序號兌換,序號,兌換碼,下載版,虛擬商品,DLC,點數卡,交換券,體驗券,抽選,預約